<section>
  <div class="container">
    <h1>
      <span class="bg-white text-primary d-inline-block px-2 pt-3 pb-0 mb-3">AUGUST 24th:</span>
      <custom-span class="text-white d-block" rtrim><uppercase>Protecting the Right to Protest</uppercase></custom-span>
    </h1>
  </div>
</section>
<section id="poster" aria-labelledby="h2-poster" class="bg-dark text-gray-light">
  <div class="container text-left">
    <h2 id="h2-poster" class="text-white lnumber mb-3">
      <uppercase>Create + Share a Digital Poster</uppercase>
    </h2>
    <p>Upload an image and submit text to create your own digital poster to help protect our right to protest and fight back against harmful and false anti-protest narratives.</p>
    <SelfieForm />
  </div>
</section>